<h1>Basic form with title and description</h1>


<div class="input-section">
  <h3>Tabs layout</h3>
  <ngx-i18n-input
    [(ngModel)]="translatedText4"
    [layout]="'tabs'"
    ></ngx-i18n-input>

  <pre [innerText]="translatedText4 | json"></pre>
</div>


<div class="input-section">
  <h3>Tabs layout but without labels</h3>
  <ngx-i18n-input
    [(ngModel)]="translatedText4"
    [hideLabels]="true"
    [layout]="'tabs'"
    #tabsNoLabels
    ></ngx-i18n-input>

    <ng-container *ngFor="let lang of (tabsNoLabels.availableLangs$ | async)">
      <button type="button" (click)="tabsNoLabels.focusInput(lang)">Focus {{ lang }} </button>
    </ng-container>

  <pre [innerText]="translatedText4 | json"></pre>
</div>


<div class="input-section">
  <h3>Vertical layout but without labels</h3>
  <ngx-i18n-input
    [(ngModel)]="translatedText4"
    [hideLabels]="true"
    [layout]="'vertical'"
    ></ngx-i18n-input>

  <pre [innerText]="translatedText4 | json"></pre>
</div>

<form [formGroup]="form">
  <div class="input-section">
    <h3>All default values</h3>

    <ngx-i18n-input formControlName="name"></ngx-i18n-input>

    <pre [innerText]="form.value.name | json"></pre>
  </div>

  <div class="input-section">
    <h3>Custom templates for both title and label</h3>

    <ng-template #titleInputTemplate let-configs>
      <textarea id="title" [formControl]="configs.control"></textarea>
    </ng-template>

    <ng-template #titleLabelTemplate let-configs>
      <label for="title">{{configs.language}}</label>
    </ng-template>

    <ngx-i18n-input [labelTemplate]="titleLabelTemplate" [inputTemplate]="titleInputTemplate" formControlName="title">
      
    </ngx-i18n-input>

    <pre [innerText]="form.value.title | json"></pre>
  </div>
</form>

<div class="input-section">
  <h3>Using ngModel</h3>
  <ngx-i18n-input [(ngModel)]="translatedText1"></ngx-i18n-input>
  <pre [innerText]="translatedText1 | json"></pre>
</div>

<div class="input-section">
  <h3>Using same ngModel for two inputs</h3>
  <ngx-i18n-input [(ngModel)]="translatedText2"></ngx-i18n-input>
  <hr>
  <ngx-i18n-input [(ngModel)]="translatedText2"></ngx-i18n-input>
  <pre [innerText]="translatedText2 | json"></pre>
</div>

<div class="input-section">
  <h3>Using a custom input component instead of a input tag</h3>
  <ng-template #customInputTemplate let-all>
    <app-custom-input [inputId]="all.id" [formControl]="all.control" ></app-custom-input>
  </ng-template>

  <ngx-i18n-input [inputTemplate]="customInputTemplate" [(ngModel)]="translatedText3"></ngx-i18n-input>
  <pre [innerText]="translatedText3 | json"></pre>
</div>


<div class="input-section">
  <h3>Using a custom input component instead of a input tag with autofocus</h3>
  <p> add input autofocus=true to see the magic</p>
  <ng-template #customInputTemplate let-all>
    <app-custom-input [formControl]="all.control" ></app-custom-input>
  </ng-template>

  <!-- [autofocus]="true" -->
  <ngx-i18n-input  [inputTemplate]="customInputTemplate" [(ngModel)]="translatedText3"></ngx-i18n-input>
  <pre [innerText]="translatedText3 | json"></pre>
</div>